* {
    font-family: 'Roboto', sans-serif;
}
body {
    background-color:dimgray;
}

a {
    color:cornflowerblue;
    text-decoration:none;
}

h1 {
    color:orange;
}

.icerik1 {
    text-align:center;

}

.icerik2 {
    text-align:center;
}

.icerik1 ul li {
    
    display: inline;
    margin: 0 1em;
}


